{% extends 'common.html' %}
{% block anu %}
    <style>
    #title1
    {
        color: yellow;
        background: blue;
        font-size: 30px;
        text-align: center;
    }
    #a{
        text-align: center;
        background:powderblue ;
        color: blue;
        font-size: 20px;
    }
    </style>
    <table align="center" border="2">
    <tr><th id="title1">States in India</th></tr>
    {% for x in data %}
    <tr><th id="a">
        <a href="{% url 'open_state' %}?state_name={{ x }}">
        {{ x }}
        </a>
        </th></tr>
    {% endfor %}
    </table>
{% endblock %}